cosmic*
*.Dockerfile
.Rproj.user
*.Rproj
.Rhistory
.RData
.Ruserdata
*.vcf
*.gz
*.tbi
*.tgz
.Rproj.user
.Rhistory
.RData
.Ruserdata
data/toy_data*
.nextflow*

*test_data
*data/toy_data

#MAC
.DS_Store
